/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;

}

body {
  /* Margin bottom by footer height */
  margin-bottom: 170px;
  background-color:black;
  font-family: 'Roboto', sans-serif;
  color: #FF9900;
  text-align:center;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

a {
  text-decoration:none;
  color: #f5f5f5;
}

a.alt-text-color{

}

h1, h2{
  font-family: 'Lacquer', sans-serif;
  text-align:center;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

@media print {
  .footer { display: none!important; }
}

#title-page{
  text-align:center;
}

.img-header{
  margin-top:2rem;
}

#select-menu{
  margin-top:10rem;
}

.non-img-header{
  margin-top:15rem;
}

button, .btn, .btn-default{
  background-color:#FF9900;
  color:black;
}

.image-credit{
  margin: 5rem;
}

.level-content-container{
  margin:0 auto;
  margin-top:2rem;
  width:600px;
}

.level-img{
  max-width:1200px;
}